<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!DOCTYPE xml>

<plugin>
<extension
         point="org.eclipse.papyrus.infra.hyperlink.hyperlinkContributor">
      <contributor
            contributor="org.eclipse.papyrus.acs.hyperlink.AtomicToController"
            description="Go to Controller"
            id="org.eclipse.papyrus.acs.hyperlink.contributor.atomictocontroller"
            label="Go to Controller">
      </contributor>
   </extension>
</plugin>
