<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<target name="ACS 2021-12" sequenceNumber="1648434048">
<locations>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
		<unit id="org.eclipse.platform.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.rcp.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.jdt.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.pde.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.egit.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.cdt.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.epp.mpc.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.equinox.executable.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.m2e.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.m2m.qvt.oml.runtime.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.xtext.xbase.lib.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.papyrus.sdk.feature.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.acceleo.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.acceleo.query.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.gmf.runtime.sdk.feature.group" version="0.0.0"/>
		<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.0.0"/>
		<repository location="https://download.eclipse.org/releases/2021-12/"/>
	</location>
	<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
	<unit id="org.eclipse.papyrus.junit.feature.feature.group" version="0.0.0"/>
		<repository id="Papyrus" location="https://download.eclipse.org/modeling/mdt/papyrus/updates/releases/2021-12"/>
	</location>
</locations>
</target>